beautifulsoup4==4.7.1
chromedriver-binary==74.0.3729.6.0
coverage==4.5.3
Django==2.1.7
django-webtest==1.9.4
mysqlclient==1.4.2.post1
PyMySQL==0.9.3
pytz==2018.9
selenium==3.141.0
six==1.12.0
soupsieve==1.9
urllib3==1.24.1
waitress==1.2.1
WebOb==1.8.5
WebTest==2.0.33
