<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>test画面</title>
</head>
<body>

    {% for res in reservations %}
    <li>(名前:{{ username }}) 日付:{{ res.check_in_date }} 連泊数:{{ res.stay_term }} 部屋数:{{ res.number_of_rooms }} 宿泊人数:{{ res.number_of_guests }} 目的:{{ res.purpose }}</li>
    {% endfor %}

    <form action='test_register_res' method="POST">
        {% csrf_token %}
        日付：<br>
        <input type="date" name="check_in_date"><br>
        連泊数：<br>
        <input type="number" name="stay_term"><br>
        部屋数：<br>
        <input type="number" name="number_of_rooms"><br>
        宿泊数：<br>
        <input type="number" name="number_of_guests"><br>
        目的：<br>
        <input type="text" name="purpose"><br>
        <br>
        <button type="submit">登録</button>
    </form>

    <a href='main'>ToTheTop</a>


</body>
</html>